body {
    font-family: 'Acto-UltraLight',sans-serif;
    color: #37474f;
}
/*h1, h2, h3, h4, h5, h6 {
    font-size: 80%;
}*/


@font-face {
    font-family: "Acto-UltraLight";
    src: url("/Fonts/Acto/Acto-UltraLight.otf");
}
.container {
    z-index: 9999;
    position: relative;
}

.row {
    background-color: #eceff1;
    height: 1000px;
}
.row .col {
    float: none;
}

.background-image {
    position: absolute;
    z-index: 1;
    border-collapse: collapse;
    background-image: url("/img/to.jpg");
    background-size: cover;
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px);
    width: 100%;
    height: 150%;
}
.la {
    margin-bottom: -30px;
    position: relative;
    z-index: 9999;
    float: right;
}

.top {
    background-image: url("/img/to.jpg");
    background-size: cover;
    height: 40%;
    max-height: 250px;
    position: relative;
    /*-webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);*/
    overflow: hidden;
    -webkit-filter: brightness(0.4);
    filter: brightness(0.4);
    }

.logo {
    background-image: url("/img/logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-height:80px;
    height:auto !important;
    margin-bottom: 3%;
    margin-top: -5%;
    position: relative;
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.p-logo {
    /*background-image: url("/img/Logo/Payfacile.ICONE.png");*/
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    z-index: 999999;
}

.btn-large {
    width: 100%;
}
.main {
    height: 50%;
    background-color: #eceff1 ;
    position: relative;
    display: block;
    padding: 15px;
}

a:hover, a:focus {
    text-decoration: none;
}
.product-description {
    background-color: #eceff1 ;
}
.title {
    font-weight: bold;
    padding-right: auto;
    padding-left: auto;
    margin-bottom: 3%;
}
.right-bar {
    background-color: #eceff1 ;
    padding: 5%;
}

.map-container {
    width:550px;
    max-width: 100%;
    height: 300px;
}