<template name="description">
    <div class="col s12 m12 l6 left product-description">
        <b><p>DESCRIPTION</p></b>
    <ul>
        <li><i class="mdi-action-done"></i>
            <b>4 hours / month</b> - Choose your schedule
        </li>
        <li><i class="mdi-action-done"></i>
            Weight loss guaranteed
        </li>
        <li><i class="mdi-action-done"></i>
            Coaching at home or in our center
        </li>
    </ul>

        <b><p>DETAILS</p></b>
        <ul>
            <li><i class="fa fa-truck fa-2x"></i>
                Ships Monthly</li>
            <li><i class="fa fa-tags"></i>
                Category: exercise & fitness</li>
        </ul>
        </div>
</template>
