<template name="description">
    <div class="col s12 m12 l6 left description">
        <b><p>DESCRIPTION</p></b>
    <ul>
        <li><i class="mdi-action-done"></i>
            <b>4 hours / month</b> - Choose your schedule
        </li>
        <li><i class="mdi-action-done"></i>
            Weight loss guaranteed
        </li>
        <li><i class="mdi-action-done"></i>
            Coaching at home or in our center
        </li>
    </ul>

        <p>We are located at: 4 rue de rochechouard, 75009 Paris</p>
        <div class="map-container">
            {{> googleMap name="exampleMap" options=exampleMapOptions}}
        </div>
        <br>
        {{> share}}
        </div>
</template>
