<head>
    <title>One page sale</title>
    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "18c8dcd6-37c3-4358-80b8-4eb2218b3e6e", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
</head>

<template name="layout">
    <div class="background-image"></div>

    <div class="container">
          {{> yield}}
    </div>
    {{> footer}}
</template>