<template name="onepage">

        <div class="row">
            <div class="col s6 offset-s3 m4 offset-m4 l4 offset-m8 right">Checkout process powered by  <img class="p-logo" src="/img/Logo/Payfacile.ICONE.png"></div>


            <div class="col s12 m12 l12 top"></div>
            <div class="col s6 offset-s3 m4 offset-m4 l4 offset-l4 logo z-depth-2"><img class="logo" src="/img/logo.png">/div>
            <div class="col s12 m12 l12 main">

                <div class="col s12 m12 l12 title">
                    <center><b><h5>Coaching Sport & Nutrition</h5></b></center>
                </div>

                 {{> description}}


                <div class="col s12 m12 l6 right right-bar">
                   <center><a class="waves-effect waves-light btn-large"><i class="mdi-action-input left"></i>ORDER</a></center>  <br>
                    <a><i class="mdi-action-favorite-outline left"></i>ADD TO wish list</a>

                    <p>We are located at :4 rue de rochechouard, 75009 Paris</p>
                    <div class="map-container">
                        {{> googleMap name="exampleMap" options=exampleMapOptions}}
                    </div>
                </div>
            </div>
            </div>

<p>Secure Payments By Payfacile</p><i class="mdi-action-https"></i>

       <!-- <div horizontal center-justified layout class="la"></div>
        <div horizontal center-justified layout><div class="logo"></div></div>

    <div vertical center-justified layout style="height:400px">
        <div><h1 align="center">Coaching Sport & Nutrition</h1></div>
    </div>


        <div horizontal start-justified layout>
            <div>start-justified</div>
        </div>
        <div>
            <div vertical center-justified layout style="height:400px">
                <div><h1 align="center">Coaching Sport & Nutrition</h1></div>
                <div>Beta</div>
                <div>Gamma</div>
            </div>
        </div>-->
            </div>
</template>