<template name="rightbar">

    <div class="col s12 m12 l5 offset-1 right right-bar">
        <div class="col s12 m12 l12">
        <div class="card-panel">
            <span class="blue-text text-darken-2"><p><b>Price</b></p> <span style="float: right"><h6 ><b> &euro; 65.00</b></h6><p>/Month</p></span> </span>
        </div>
        </div>
        <!--<div class="col s12 m12 l12 ">
            <div class="col s12 m12 l4 left">
                <h6><b>PRICE </b></h6>
            </div>
            <div class="col s12 m12 l8 right">
                <h6><b>65.00&euro;</b></h6><p>/month</p>
            </div>
         </div>-->

        <div class="col s12 m12 l12">
            <a class="waves-effect waves-light btn-large l12">
               <!-- <i class="mdi-action-input center"></i>--><h6>SUBSCRIBE NOW</h6></a>
        </div><br>

        <!-- <h6><b>Price:</b></h6><p>Starting at</p><h6><b> &euro; 65.00</b></h6><p>/Month</p>-->
        <!--<div class="col s12 m12 l12">
            <b><p>FULL PRICE</p></b>
            <ul>
                <li><i class="fa fa-truck"></i>
                    65.00 € / 1 month(s)</li>
                <li><i class="fa fa-tags"></i>
                    Setup fees: 10.00 €</li>
                <hr>
                <li><i class="fa fa-tags"></i>
                    Final price: 75.00 €</li>
            </ul>
        </div>-->

        <div class="col s12 m12 l12">
            <a><i class="mdi-action-favorite-outline left">
            </i>Add to Wish list</a>
        </div>
        <br>

        <div class="col s12 m12 l12">
            <b><p>DETAILS</p></b>
            <ul>
                <li><i class="fa fa-truck"></i>
                    Ships Monthly</li>
                <li><i class="fa fa-tags"></i>
                    Category: exercise & fitness</li>
                <li><i class="fa fa-check-square-o"></i>
                    Free Shipping!</li>
            </ul>
        </div>


       <!-- <div class="col s12 m12 l12">
            <b><p>CONDITIONS</p></b>
            <ul>
                <li><i class="fa fa-truck"></i>
                    First payment in 1 week(s)</li>
                <li><i class="fa fa-tags"></i>
                   Minimum subscription for 3 month(s)</li>
            </ul>
        </div>-->
    </div>
</template>