<template name="rightbar">

    <div class="col s12 m12 l5 offset-1 right right-bar">
        <div class="col s12 m12 l12">
            <h6><b>Price: </b>Starting at <b>$29.99</b>/Month</h6>
        </div>
        <div class="col s12 m12 l12">
            <a class="waves-effect waves-light btn-large l12">
                <i class="mdi-action-input left"></i>ORDER</a>
        </div><br>
        <div class="col s12 m12 l12">
            <a><i class="mdi-action-favorite-outline left">
            </i>Add to wish list</a>
        </div>
        <br>

        <div class="col s12 m12 l12">
            <b><p>DETAILS</p></b>
            <ul>
                <li><i class="fa fa-truck"></i>
                    Ships Monthly</li>
                <li><i class="fa fa-tags"></i>
                    Category: exercise & fitness</li>
            </ul>
        </div>
    </div>
</template>