<template name="rightbar">

    <div class="col s12 m12 l5 right right-bar">
        <div class="col s12 m12 l12"><h5><b>Price:</b>Starting at $29.99/Month</h5></div>
        <div class="col s12 m12 l12"><a class="waves-effect waves-light btn-large l12"><i class="mdi-action-input left"></i>ORDER</a></div>
        <br><a><i class="mdi-action-favorite-outline left"></i>ADD TO wish list</a>
        <br>
        <b><p>DETAILS</p></b>
        <ul>
            <li><i class="fa fa-truck fa-2x"></i>
                Ships Monthly</li>
            <li><i class="fa fa-tags fa-2x"></i>
                Category: exercise & fitness</li>
        </ul>
    </div>
</template>